.fade-in-section {
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity .6s ease-out, transform 0.7s ease-out;
    will-change: opacity, visibility;
}

.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}