.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    height: fit-content;
    background-color: rgb(48, 48, 48);
    margin: 10px;
    border-radius: 5px;
}

.service__img {
    filter: invert(62%) sepia(67%) saturate(5069%) hue-rotate(88deg) brightness(124%) contrast(121%);
    width: 100px;
    margin: 20px 0;
}

.service__title {
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.service__list {
    text-align: center;
    font-size: 15px;
    color: #c5c5c5;
}

.service__soonContent {
    margin: 0;
    width: 150px;
    height: 80px;
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    padding: 10px;
    transform: rotate(-48deg) translate(-23px, -28px);
}

.service__soonCon {
    background: linear-gradient(30deg, #002200, yellowgreen);
    clip-path: polygon(0 0, 0% 100%, 53% 0);
    border-top-left-radius: 5px;
}

.service__soon {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: -70px;
}