.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    height: fit-content;
    background-color: rgb(48, 48, 48);
    margin: 10px;
    border-radius: 5px;
}

.service__icon {
    color: lime;
    margin: 18px 0;
}

.service__title {
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.service__list {
    text-align: center;
    font-size: 15px;
    color: #c5c5c5;
}

.service__soonContent {
    margin: 0;
    width: 150px;
    height: 80px;
    text-align: center;
    font-weight: lighter;
    padding: 10px;
    transform: rotate(-39deg) translate(-25px, -18px);
}

.service__soonCon {
    background: linear-gradient(30deg, #002e00, lime);
    clip-path: polygon(0 0, 0% 100%, 69% 0);
    border-top-left-radius: 5px;
}

.service__soon {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: -70px;
}