.hero {
    height: 300px;
    background: #005700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: white;
    z-index: -1;
    margin-bottom: -2px;
}

.hero > p {
    font-size: 15px;
}

.hero__actionServices {
    padding: 12px 20px;
    width: fit-content;
    border: none;
    color: white;
    background-color: #2ebe35;
    margin-right: 10px;
    border-radius: 5px;
    font-size: medium;
    outline: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: montserrat;
}

.hero__actionServices:hover {
    background-color:  #229228;
}

.hero__actionContact {
    padding: 10px 18px;
    width: fit-content;
    border: none;
    color: white;
    border: 2px solid #2ebe35;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
    font-size: medium;
    outline: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: montserrat;
}

.hero__actionContact:hover {
    background-color: #229228
}

.hero__action:hover {
    background-color: #28a12e;
}

.services {
    height: fit-content;
    color: white;
    font-weight: bold;
}

.services__content {
    display: flex;
    flex-direction: column;
}


.about {
    background-color: #242424;
    color: white;
    margin-top: 70px;
    transform: skewY(2deg);
    height: fit-content;
    padding: 30px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about h1, .services h1 {
    margin-bottom: 20px;
}

.about__content {
    transform: skewY(-2deg)
}

.modal {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
   .about {
       margin-top: 50px;
   }

   .services {
       margin-top: -100px;
   }

   .services__content {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }
}