.hero {
    height: 300px;
    display: flex;
    background-color: #242424;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: white;
    z-index: -1;
    margin-bottom: -2px;
}

.hero > p {
    font-size: 15px;
    margin-top: 10px;
}

.hero__actionContact {
    padding: 12px 20px;
    width: 200px;
    border: none;
    color: white;
    background-color: #2ebe35;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 17px;
    outline: none;
    margin-top: 30px;
    font-weight: bold;
    font-family: montserrat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .MuiSvgIcon-root {
    animation: arrow infinite 2s ease;
    transition: transform 2s ease;
   
}

@keyframes arrow {
    from {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(6px);
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(6px);
    }

    80% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(6);
    }
    to {
        transform: translateY(0);
    }
}

.hero__actionServices:hover {
    background-color:  #229228;
}

.hero__actionContact:hover {
    background-color: #229228
}

.hero__action:hover {
    background-color: #28a12e;
}

.services {
    height: fit-content;
    color: white;
    font-weight: bold;
}

.services__content {
    display: flex;
    flex-direction: column;
}

.home h1 {
    font-size: 40px;
}

.hero span {
    color: lime;
}

.hero h1, .hero p {
    letter-spacing: 1px;
}

.about {
    background-color: #242424;
    color: white;
    margin-top: 70px;
    transform: skewY(2deg);
    height: fit-content;
    padding: 30px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about h1, .services h1 {
    margin-bottom: 20px;
}

.about__content {
    transform: skewY(-2deg)
}

.about p {
    line-height: 30px;
    letter-spacing: 1px;
}

.modal {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
   .about {
       margin-top: 50px;
   }

   .services {
       margin-top: -100px;
   }

   .services__content {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }
}